#container #container > .section.mybanner-wrapper {
  max-width: none;
}

@media (min-width:1024px){
  #contents > .section.mybanner-wrapper {
    max-width: none;
    width: 100%;
    
  }
}

.mybanner{
      --banner-gap:20px;
      --banner-m-h-gap:10px;/*모바일 수평 갭*/
      --banner-m-v-gap:10px;/*모바일 수직 갭*/
      --banner-top-margin:50px;
      --banner-bottom-margin:50px;
      --banner-top-padding:10px;
      --banner-bottom-padding:10px;
      --banner-max-width:1440px;
      --col1:100%;
      --col2:50%;
      --col3:33.333%;
      --col4:25%;
      --col5:20%;
    }

    .mybanner{
      margin-top: var(--banner-top-margin);
      margin-bottom: var(--banner-bottom-margin);
    }
    .mybanner__inner{
      max-width: var(--banner-max-width);
      margin: 0 auto;
      padding-top:var(--banner-top-padding);
      padding-bottom:var(--banner-bottom-padding);
    }
    .mybanner__list{
      display: flex;
      gap: var(--banner-gap);
      box-sizing: border-box;
    }
    .mybanner__item{
      flex:1;
      box-sizing: border-box;
      background-color: #66f;
    }
    .mybanner__list.grid1  .mybanner__item{width: var(--col1);   }
    .mybanner__list.grid2  .mybanner__item{width: var(--col2);   }
    .mybanner__list.grid3  .mybanner__item{width: var(--col3);   }
    .mybanner__list.grid4  .mybanner__item{width: var(--col4);   }
    .mybanner__list.grid5  .mybanner__item{width: var(--col5);   }
    .mybanner__link{display: block;}
    .mybanner .thumb-box picture,
    .mybanner .thumb-box picture source,
    .mybanner .thumb-box picture img{ 
      display: block;
       width: 100%;
      }
    .mybanner .text-box .text-title{}
    .mybanner .text-box .text-desc{}
 
    @media (max-width:767px){
      .mybanner__list{
        gap: var(--banner-m-h-gap)  var(--banner-m-v-gap);
        flex-wrap: wrap;
      }
      .mybanner__item{
        flex:1 0 auto;
      }

      .mybanner .mybanner__item.m-col1{width: calc(var(--col1) - var(--banner-m-v-gap));}
      .mybanner .mybanner__item.m-col2{width: calc(var(--col2) - var(--banner-m-v-gap));}
      .mybanner .mybanner__item.m-col3{width:calc(var(--col3) - var(--banner-m-v-gap));}
      .mybanner .mybanner__item.m-col4{width:calc(var(--col4) - var(--banner-m-v-gap));}
  
    }
    /* footer bt_sns시작 */
    /* #footer{
      background-color: #3a3a3a;
    } */
    /* #footer .inner{
      color: #d1d1d1;
    } */

    /* #footer .inner .bt_util ul li a,
    #footer .inner .bt_util ul li a strong,
    #footer .inner .bt_info .bt_info_list,
    #footer .inner .bt_wrap2 .bt_copyright,
    #footer .inner .bt_wrap .bt_boardinfo li a,
    #footer .inner .bt_cscenter .bt_txt01,
    #footer .inner .bt_cscenter .bt_txt02{
      color: inherit;
    } */


    /* #footer .inner .bt_sns .title{
      font-size: 16px;
      color: black;
      margin-bottom: 10px;
      font-weight:500;
 */

    /* }

    #footer .inner .bt_top_right .bt_sns a {
      margin-top: 20px;
      width: 34px; height: 34px;
      overflow: hidden;
    }



    #footer .inner .bt_top_right .bt_sns a svg {height:34px;}

#footer .inner .bt_top_right .bt_sns a svg path {fill:#ababab;-webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s;  transition: all 0.3s;}
#footer .inner .bt_wrap2 .bt_sns a:hover svg path {fill:#111;} */

/* 24.10.28 */
/* 루미너스 footer디자인 수정 */


/*  */
/*여기서 부터 단 배너 css */
/* 기존 스킨 배너 옆 양쪽 여백 없애기 */
#container #contents > .section.mybanner-wrapper {
  max-width: none;
}
@media (min-width:1024px){
#contents > .section.mybanner-wrapper  {
  max-width: none;
  width: 100%;
}
}/*//@media*/

    .mybanner{
      --banner-gap:20px;/*pc 갭*/
      --banner-m-h-gap:10px;/*모바일 수평 갭*/
      --banner-m-v-gap:10px;/*모바일 수직 갭*/
      --banner-top-margin:50px;
      --banner-bottom-margin:50px;
      --banner-top-padding:50px;
      --banner-bottom-padding:50px;
      --banner-max-width:1440px;
      --col1:100%;
      --col2:50%;
      --col3:33.333%;
      --col4:25%;
      --col5:20%;
    }

    .mybanner{
      margin-top: var(--banner-top-margin);
      margin-bottom: var(--banner-bottom-margin);
      background-color: #dd6;
    }
    .mybanner__inner{
      max-width: var(--banner-max-width);
      margin: 0 auto;
      padding-top:var(--banner-top-padding);
      padding-bottom:var(--banner-bottom-padding);
    }
    .mybanner__list{
      display: flex;
      gap: var(--banner-gap);
      box-sizing: border-box;
    }
    .mybanner__item{
      flex:1;
      box-sizing: border-box;
      background-color: #66f;
    }
    .mybanner__list.grid1  .mybanner__item{width: var(--col1);   }
    .mybanner__list.grid2  .mybanner__item{width: var(--col2);   }
    .mybanner__list.grid3  .mybanner__item{width: var(--col3);   }
    .mybanner__list.grid4  .mybanner__item{width: var(--col4);   }
    .mybanner__list.grid5  .mybanner__item{width: var(--col5);   }
    .mybanner__link{display: block;}
    .mybanner .thumb-box picture,
    .mybanner .thumb-box picture source,
    .mybanner .thumb-box picture img{ 
      display: block;
       width: 100%;
      }
    .mybanner .text-box .text-title{}
    .mybanner .text-box .text-desc{}
 
    @media (max-width:767px){
      .mybanner__list{
        gap: var(--banner-m-h-gap)  var(--banner-m-v-gap);
        flex-wrap: wrap;
      }
      .mybanner__item{
        flex:1 0 auto;
      }

      .mybanner .mybanner__item.m-col1{width: calc(var(--col1) - var(--banner-m-v-gap));}
      .mybanner .mybanner__item.m-col2{width: calc(var(--col2) - var(--banner-m-v-gap));}
      .mybanner .mybanner__item.m-col3{width:calc(var(--col3) - var(--banner-m-v-gap));}
      .mybanner .mybanner__item.m-col4{width:calc(var(--col4) - var(--banner-m-v-gap));}
  
    }
 /*.mybanner 단배너 스타일끝 */

 

 




/* 우든스터디 */
#footer {  background-color: #DEB887;}
#footer .inner {
  color: #2a2ac4;   
  /* 2b241b */
  padding-top: 80px 0;
 

}
#footer .inner .bt_util ul li a, 

#footer .inner_t .info_right .wrap_cs .bt_title, 
#footer .inner_t .info_right .wrap_cs .bt_title strong,
#footer .inner_t .info_right .wrap_cs .bt_time, 
#footer .inner_t .info_right .wrap_cs .bt_time strong, 
#footer .inner_t .info_right .wrap_email_bank .bt_mail,#footer .inner_t .info_right .wrap_email_bank .bt_mail strong,
#footer .inner_t .info_right .wrap_email_bank .bt_title,
#footer .inner_t .info_right .wrap_email_bank .bt_title strong
 {
  color: inherit;
}
#footer .inner .inner_t{
  display: flex;
 
  justify-content: space-between;
  flex-direction: row;

}
/* #footer .inner .inner_t .info_left{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
} */

#footer .inner_t .bt_util [data-ez-role="list"]{
display: flex;
flex-direction: row;
justify-content: space-between;
padding-right: 50px;
padding-bottom: 50px;
}
/* #footer .inner .inner_t .info_left{
  border-right: 1px solid #000;
}
#footer .inner .inner_t .info_right{
  border-right: 1px solid #000;
} */

#footer .inner .inner_t .info_left .bt_logo img {
  max-width: 180px;
  max-height:180px;
}
#footer .inner .inner_t .info_right .wrap_cs{padding-top: 50px;}

#footer .inner .inner_t .info_right .wrap_cs .pdr10{display: none;}


#footer .inner .inner_t .info_right .wrap_cs .cs_center_txt {
  margin-right: 0px;
}


#footer .inner .inner_t .info_right .wrap_cs .cs_center_txt, 
#footer .inner .inner_t .info_right .wrap_email_bank{
  padding-top: 30px;
  padding-right: 80px;
  padding-left: 80px;
  border-right: 1.5px solid #d0ac88;
}

/* #footer .inner .inner_t .info_right .wrap_cs .cs_center_txt, 
#footer .inner .inner_t .info_right .wrap_email_bank [data-ez-role="list"]{
  width: 180px;
  
} */

#footer .inner .inner_t .info_right .wrap_email_bank .bt_mail{
  margin-bottom: 30px;
}
#footer .inner .inner_t .info_right .wrap_email_bank .bt_mail>strong {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}
#footer .inner .inner_t .info_right .wrap_email_bank .bt_mail [data-ez-role="value"]{
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
#footer .sns_txt{
  padding-top: 30px;
  padding-left: 80px;

}
#footer .inner .inner_t .info_left .bt_util>ul li {
  padding-right: 30px;
} 

/* #footer .bt_info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

} */


#footer .bt_info .bt_title {
  display: none;
}

#footer .inner .inner_t .info_right .wrap_cs .cs_center_txt .bt_tel{
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

#footer .inner .inner_t .info_right .wrap_cs .cs_center_txt > div > div {
  margin-bottom: 30px;
}
#footer .cs_center_txt [class^="bt_"]>strong:first-child{display:none}
#footer .cs_center_txt .bt_mail{display: none;}
#footer .wrap_email_bank .bank_txt .bt_title{display: none;}
#footer .inner .inner_b {
  display: flex;
  justify-content: right;
  margin-top: 10px;
 
}
#footer .bt_info {
  
  margin-top: 30px;
  border-top: 1.5px solid #d0ac88;
  
  
}

#footer .bt_info .bt_info_list {
  color: #3a3a3a;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 12px;
  
}
#footer .inner .inner_b .bt_copyright{
  color: #3a3a3a;
}
/* #footer .inner .bt_info .bt_info_list {max-width: 100%;} */



#footer .bt_info .bt_info_list [data-ez-item="company_name"]{ order: 1;}

#footer .bt_info .bt_info_list [data-ez-item="address"]{ order: 5;}
#footer .bt_info .bt_info_list [data-ez-item="phone"]{ order: 4;}
#footer .bt_info .bt_info_list [data-ez-item="company_regno"]{ order: 2;}
#footer .bt_info .bt_info_list [data-ez-item="network_regno"]{ order: 3;}
#footer .bt_info .bt_info_list [data-ez-item="cpo_name"]{ order: 6;}

/* 헤더카테고리 */


#header .inner .top_nav_box .top_category > ul > li {
  padding: 0 30px;
}


 #header .inner .top_nav_box .top_category li.on .sub_cate01, 
 #header .inner .top_nav_box .top_category .sub-category{
  box-shadow: none;
  -webkit-box-shadow: none;
  background-color: transparent;
  
 }

/* 헤더카테고리 마침 */



/*헤더검색창 시작*/
#header .inner .top_nav_box .top_mypage li:nth-child(2) a{
  padding-right: 0;
}
#header .my_top_search{
 width: 190px;
 height: 40px;
 border-bottom:1px solid #333;
 align-self: center;
}
#header .my_top_search form{
  display: block;
  height: 100%;
 
}

#header .my_top_search .xans-layout-searchheader{
  display: block !important;
  position: static;
  height: 100%;
  width: 100%;
  

}
#header .my_top_search .xans-layout-searchheader fieldset{
  position: static;
  display: inline-block;
  width: 100%; height: 100%;
  transform: translate(0,0);
  border: 0;

}
#header .my_top_search .xans-layout-searchheader #keyword{
  /* border: 1px solid #ccc; */
  border:0;
  outline:none;
}
#header .my_top_search .xans-layout-searchheader input[type="image"]{
  width:22px; height: 22px;
  position: absolute; right: 0; top:50%;
  transform: translateY(-50%);
}


@media (min-width:1024px){
  #header .inner .top_nav_box .top_mypage .top_search{
    display:none;
  }
}
/*//헤더검색창 끝*/


/*모든 2depth 표시 시작*/

#header .inner .top_nav_box .top_category>.is-opened  li.on .sub_cate01, 
#header .inner .top_nav_box .top_category .sub-category{
  z-index:50;

}


 #header .d2-bg{
  --d2-bg-height:200px;
  display: none;
  position: absolute;
  left:0; bottom:calc(0 - var(--d2-bg-height));
  width:100%;
  height:var(--d2-bg-height);
  border-bottom:1px solid #d0ac88;
  background-color:#fff;
  z-index: 40;
 }
 #header.d2-opened .d2-bg{
display: block;

 }


 
/*//모든 2depth 표시  끝*/

/* 미리보기 */
.xans-product-detail .xans-product-option .ec-product-button.ec-product-preview li a{
  height: 40px;
  line-height: 40px;
  min-width: auto;
}

.xans-product-detail .xans-product-option .ec-product-button .ec-product-selected {
  border: 1px solid #00f;
}
/* //미리보기 */